body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code,
pre {
  font-family: "Source Code Pro", monospace;
}

/* Color coding for tags */

/* Work Tag */
.work-tag--color {
  color: #4a90e2; /* Original color */
}

/* Personal Tag */
.personal-tag--color {
  color: #f5a623; /* Original color */
}

/* Urgent Tag */
.urgent-tag--color {
  color: #d0021b; /* Original color */
}

/* Health Tag */
.health-tag--color {
  color: #7ed321; /* Original color */
}

/* Social Tag */
.social-tag--color {
  color: #bd10e0; /* Original color */
}

/* Learning Tag */
.learning-tag--color {
  color: #f8e71c; /* Original color */
}

/* Finance Tag */
.finance-tag--color {
  color: #50e3c2; /* Original color */
}

/* Miscellaneous Tag */
.miscellaneous-tag--color {
  color: #9b9b9b; /* Original color */
}

/* Work Tag */
.work-tag--bg {
  background-color: rgb(206, 223, 243); /* Light accent color */
  color: #4a90e2; /* Original color */
}

/* Personal Tag */
.personal-tag--bg {
  background-color: rgb(255, 234, 189); /* Light accent color */
  color: #f5a623; /* Original color */
}

/* Urgent Tag */
.urgent-tag--bg {
  background-color: rgb(255, 205, 203); /* Light accent color */
  color: #d0021b; /* Original color */
}

/* Health Tag */
.health-tag--bg {
  background-color: rgb(215, 241, 191); /* Light accent color */
  color: #7ed321; /* Original color */
}

/* Social Tag */
.social-tag--bg {
  background-color: rgb(243, 210, 247); /* Light accent color */
  color: #bd10e0; /* Original color */
}

/* Learning Tag */
.learning-tag--bg {
  background-color: rgb(255, 250, 203); /* Light accent color */
  color: #f8e71c; /* Original color */
}

/* Finance Tag */
.finance-tag--bg {
  background-color: rgb(200, 243, 232); /* Light accent color */
  color: #50e3c2; /* Original color */
}

/* Miscellaneous Tag */
.miscellaneous-tag--bg {
  background-color: rgb(219, 219, 219); /* Light accent color */
  color: #9b9b9b; /* Original color */
}
