#front-page {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  width: 100%;
  padding-top: 2rem;

  .greet-msg {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
  }

  .front-page__username {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--md-sys-color-primary);
  }

  .front-page__content {
    display: flex;
    gap: 1rem;
    flex-direction: column; /* Changed to column for mobile */
  }

  .front-page__left {
    flex: 3;
    width: 100%; /* Full width on mobile */
  }

  .front-page__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; /* Full width on mobile */
  }

  .slides {
    display: flex;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    margin-bottom: -3rem;
    padding-bottom: 4rem;
  }

  .slide {
    flex: 1;
    padding: 1rem;
    gap: 1rem;
    min-width: 100%;
    background: linear-gradient(
      45deg,
      var(--md-sys-color-primary-fixed-dim) 0%,
      var(--md-sys-color-primary) 80%
    );
    border-radius: 10px;
    color: var(--md-sys-color-on-primary);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -4rem;
    padding-bottom: 4rem;
    transition: transform 0.6s ease-in-out;

    p {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .slide__number {
      font-size: 2.6rem;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
    }

    .slide__past-record {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }

    .slide__past-record > div {
      width: 45%;
      background: linear-gradient(
        45deg,
        var(--md-sys-color-primary-fixed-dim) 0%,
        var(--md-sys-color-primary-container) 80%
      );
      color: var(--md-sys-color-on-primary-container);
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      height: 100%;
    }
  }

  .slides__controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 3;
    position: relative;
  }

  .slides__controls--previous,
  .slides__controls--next {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tasks {
    margin-top: 4rem;
    display: flex;
    flex-direction: column; /* Changed to column for mobile */
    line-height: 1.4rem;
    text-align: left;
  }

  .tasks__listing {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; /* Full width on mobile */
  }

  .tasks__details--current {
    padding: 1rem;
    text-align: left;
    border: 2px solid var(--md-sys-color-secondary);
    border-radius: 10px;
    flex: 2;
    margin-top: 1rem;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  #front-page {
    .front-page__content {
      flex-direction: row; /* Row direction for tablets and above */
    }

    .front-page__left {
      width: 60%;
    }

    .front-page__right {
      width: 40%;
    }

    .tasks {
      flex-direction: row; /* Row direction for tablets and above */
    }

    .tasks__listing {
      width: 50%;
    }

    .tasks__details--current {
      width: 50%;
      margin-top: 0;
    }
  }
}
